<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CookMate - Recipes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Meal.css') }}">
  
</head>
<body>

<header class="top-bar">
  <div class="top-header">
    <h1 class="logo">CookMate</h1>
    <div class="language-select">
      <span>CHOOSE LANGUAGE</span>
      <button class="lang-button">ENG</button>
    </div>
  </div>

  <nav class="nav-buttons">
  <a href="{{ url_for('recipes') }}">RECIPES</a> 
  <a href="{{ url_for('mealplan') }}">MEAL PLAN</a> 
  <a href="{{ url_for('about') }}">ABOUT</a> 
</nav>
</header>

<main class="meal-plan-area">
  <h2>Your Weekly Meal Plan</h2>

  <div class="meal-grid">
    <!-- First row (4 boxes) -->
    <div class="meal-box meal-1">
      <h3>Monday</h3>
      <img src="{{ url_for('static', filename='Images/monday.jpg') }}" alt="monday">
      <button class="see-plan">See Plan</button>
    </div>
  
    <div class="meal-box meal-2">
      <h3>Tuesday</h3>
      <img src="{{ url_for('static', filename='Images/tuesday.jpg') }}" alt="tuesday">
      <button class="see-plan">See Plan</button>
    </div>
  
    <div class="meal-box meal-3">
      <h3>Wednesday</h3>
      <img src="{{ url_for('static', filename='Images/wednesday.jpg') }}" alt="wednesday">
      <button class="see-plan">See Plan</button>
    </div>
  
    <div class="meal-box meal-4">
      <h3>Thursday</h3>
      <img src="{{ url_for('static', filename='Images/Green1.jpg') }}" alt="thursday">
      <button class="see-plan">See Plan</button>
    </div>
  
    <!-- Bottom row (wrap these 3 together) -->
    <div class="bottom-row">
      <div class="meal-box meal-5">
        <h3>Friday</h3>
        <img src="{{ url_for('static', filename='Images/friday.jpg') }}" alt="tuesday">
        <button class="see-plan">See Plan</button>
      </div>
  
      <div class="meal-box meal-6">
        <h3>Saturday</h3>
        <img src="{{ url_for('static', filename='Images/sause.jpg') }}" alt="Saturday">
        <button class="see-plan">See Plan</button>
      </div>
  
      <div class="meal-box meal-7">
        <h3>Sunday</h3>
        <img src="{{ url_for('static', filename='Images/Sombe1.jpg') }}" alt="tuesday">
        <button class="see-plan">See Plan</button>
      </div>
    </div>
  </div>

</main>
    
    <footer>
      <p>© 2025 CookMate. Happy cooking! All rights reserved.</p>
    </footer>
    
    </body>
    </html>