<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CookMate - Recipes</title>
  <link rel="stylesheet" href="Recipes.css">
</head>
<body>

<header class="top-bar">
  <div class="top-header">
    <h1 class="logo">CookMate</h1>
    <div class="language-select">
      <span>CHOOSE LANGUAGE</span>
      <button class="lang-button">ENG</button>
    </div>
  </div>

  <nav class="nav-buttons">
    <a href="Recipes.html">RECIPES</a> 
    <a href="MealPlan.html">MEAL PLAN</a> 
    <a href="About.html">ABOUT</a> 
  </nav>
</header>

<div class="search-bar">
    <input type="text" placeholder="Search recipes...">
    <button>Search</button>
  </div>

  <!-- Main Content Area (Recipe Boxes) -->
  <main class="content-area">
    
  
    <div class="recipe-box">
        <img src="../Images/recipe1.jpg" alt="Fresh  Salade ">
        <h3>Fresh Salade</h3>
        
        <button class="see-recipe" data-url="Freshsalade.html">See Recipe</button>
      </div>
      <div class="recipe-box">
        <img src="../recipe2.jpg" alt="Recipe 2">
        <h3>chiken burger</h3>
        <button class="see-recipe" data-url="Burger.html">See Recipe</button>
      </div>
      <div class="recipe-box">
        <img src="../veg.jpg" alt="Recipe 3">
        <h3>Veg grilled sundwich</h3>
        <button class="see-recipe" data-url="Veg.html">See Recipe</button>
      </div>
      <div class="recipe-box">
        <img src="../Images/spagetti.jpg" alt="spagetti">
        <h3>Spagetti Bolognes</h3>
        <button class="see-recipe" data-url="Pancake.html">See Recipe</button>
      </div>
      <div class="recipe-box">
        <img src="../Images/grilled.jpg" alt="spagetti">
        <h3>Grilled Chicken Salad</h3>
        <button class="see-recipe" data-url="Chiken_grilled.html">See Recipe</button>
      </div>
      <div class="recipe-box">
        <img src="../Images/cookies.jpg" alt="spagetti">
        <h3>Chocolate chips cookies</h3>
        <button class="see-recipe" data-url="Cookies.html">See Recipe</button>
      </div>

      <div class="recipe-box">
        <img src="../Images/Pancake.jpg" alt="spagetti">
        <h3>Simple Pancakes</h3>
        <button class="see-recipe" data-url="Cookies.html">See Recipe</button>
      </div>

      <div class="see-more-container">
        <button class="see-more-btn">See More</button>
      </div>
    
  </main>
  <footer>
    <p>© 2025 CookMate. Happy cooking! All rights reserved.</p>
  </footer>

  <script src="../js/main.js"></script>

</body>
</html>